#register-box {
    width: 1070px;
    height: auto;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 85px;
    color: #585858;
}
#register-box>form ul{
    padding-top: 45px;
}
#register-box>form input {
    margin-right: 10px;
    float: left;
    width: 256px;
    height: 34px;
}
.heading {
    width: 100%;
    float: left;
}
.heading>h3 {
    margin-bottom: 20px;
    height: 24px;
    border-left: 4px solid #eb4444;
    padding-left: 15px;
    font-size: 18px;
}
.heading>p{
    margin-top: 0;
    float: right;
    font-size: 12px;
}
.heading>p>a {
    font-size: 12px;
    color: #d7000f;
    margin-bottom: 5px;
}
#register-box>form {
    margin-top: 5px;
    float: left;
    width: calc(100% - 2px);
    border:1px solid #dbdbdb
}
#register-box>form li {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
#register-box>form li>span {
    height: 34px;
    margin-left: 15px;
    line-height: 34px;
}
#register-box>form li>label>span {
    color: #d7000f;
    padding-right: 5px;
    font-family: simsun,sans-serif;
}
#register-box>form li label {
    width: 118px;
    float: left;
    font-size: 12px;
    text-align: right;
    margin-right: 8px;
    line-height: 34px;
}
.mobileCheckCode>a {
    float: left;
    height: 37px;
    padding: 0 30px;
    line-height: 37px;
    margin-right: 10px;
}
#register-box>form>.mobileCheckCode input {
    width: 155px;
}
.select-sex {
    position: relative;
}
.select-sex>a {
    border-radius: 6px;
    width: 102px;
    height: 34px;
    line-height: 34px;
    background: #fff;
    display: block;
    float: left;
    border: 1px solid #dbdbdb;
    text-indent: 10px;
}
.select-sex>a>span {
    font-size: 12px;
    color: #585858;
}
.select-sex .sex {
    border: 1px solid #dbdbdb;
    position: absolute;
    top: 36px;
    width: 102px;
    left: 127px;
    cursor: pointer;
    display: none;
}
.select-sex .sex li {
    line-height: 30px;
    font-size: 12px;
    background-color: #fff;
}
.select-sex .sex li:hover {
    background-color: #f7f7f7;
}
.select-sex>a>b {
    width: 0;
    height: 0;
    display: inline-block;
    border-width: 4px;
    overflow: hidden;
    float: right;
    margin-top: 16px;
    margin-right: 15px;
    border-color: #dbdbdb transparent transparent;
    border-style: solid dashed dashed;
}
.page-btn-box {
    clear: both;
}
.page-btn-box>div {
    padding-top: 20px;
    clear: both;
}
.page-btn-box>div label {
    font-size: 12px;
    line-height: 16px;
}
.page-btn-box>div label>input {
    vertical-align: middle;
    margin-bottom: 1px;
    margin-top: -1px;
}
.page-btn-box>div label>a {
    font-size: 12px;
    color: #d7000f;
}
.page-btn-box>div p {
    overflow: auto;
}
.page-btn-box>div p>a {
    width: 125px;
    height: 37px;
    line-height: 37px;
    float: right;
}
