<div id="find-password-box">
    <div class="find-password-head">
        <h3>找回密码</h3>
    </div>
    <form action="findPassword.action" method="post">
        <ul>
            <li>
                <label>
                    <span>*</span>邮箱或手机号：
                </label>
                <input type="text" name="emailOrPhoneNumber">
                <span></span>
            </li>
            <li>
                <label>
                    <span>*</span>新密码：
                </label>
                <input type="password" name="newPassword">
                <span></span>
            </li>
            <li>
                <label>
                    <span>*</span>确认新密码：
                </label>
                <input type="password" name="confirmNewPassword">
                <span></span>
            </li>
            <li>
                <label>
                    <span>*</span>身份证号码：
                </label>
                <input type="text" name="idCard">
                <span></span>
            </li>
            <li>
                <label>
                    <span>*</span>验证码：
                </label>
                <div class="check-code">
                    <p class="cap-p">验证码：请点击属于<span>城市</span>的所有汉字</p>
                    <div class="cap-pics">
                        <span>
                            <img src="../../static/image/clickIamgeCode.jpg" alt="">
                            <b></b>
                        </span>
                        <span>
                            <img src="../../static/image/clickIamgeCode.jpg" alt="">
                            <b></b>
                        </span>
                        <span>
                            <img src="../../static/image/clickIamgeCode.jpg" alt="">
                            <b></b>
                        </span>
                        <span>
                            <img src="../../static/image/clickIamgeCode.jpg" alt="">
                            <b></b>
                        </span>
                        <span>
                            <img src="../../static/image/clickIamgeCode.jpg" alt="">
                            <b></b>
                        </span>
                    </div>
                    <span class="cap-link">换一批</span>
                </div>
                <span></span>
            </li>
            <li class="get-code">
                <label >
                    <span>*</span>短信验证码：
                </label>
                <input type="text" style="width: 152px;height: 43px;" name="checkCode">
                <span></span>
                <a href="">获取短信验证码</a>
            </li>
            <li>
                <label><span></span></label>
                <a href="" class="submit">提交</a>
            </li>
        </ul>
    </form>
</div>
